@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
:root {
	--color-body: hsl(227deg 17% 15%);
	--color-text: hsl(227deg 17% 85%);
	--color-text-muted: hsl(227deg 17% 73%);
	--color-accent: hsl(11deg 89% 58%);
}

html {
	height: 100%;
}

body {
	background: var(--color-body);
	color: var(--color-text);
	font-family: 'Poppins', sans-serif;
	height: 100%;
}

.ff-dm {
	font-family: 'DM Serif Display', serif;
}
